/*
*
		========================================
		  Variables
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Fonts
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Document
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff; }

/*
*
		========================================
		  1. Blocks
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Header
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  X. Main Content
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Footer
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Buttons
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
    ========================================
      X. Form
    ========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  X. Links
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. List
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Logo
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  X. Navigation Bar
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Tables
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Breadcrumbs
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Alignment
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  X. Color
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  X. Divider
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  1. Font
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
/*
*
		========================================
		  X. Text Formatting
		========================================

		  Date Created: 10/25/2019
		  Created By:   @dbybanez
		  Last Updated: --/--/----
		  Updated By:   @dbybanez

*
*/
.text-spacing-2 {
  letter-spacing: 2px; }

/*
*
    ==========================================
      1 variables
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      2 typography
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      3 document
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      4 section/blocks
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      5 section/header
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      6 section/main
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      7 section/footer
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      8 button
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      9 form
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      10 link
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      11 list
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      12 logo
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      13 navigation
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      14 tables
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      15 components/breadcrumbs
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      16 helpers/alignment
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      17 helpers/color
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      18 helpers/divider
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      19 helpers/font
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
/*
*
    ==========================================
      20 helpers/textformatting
    ==========================================

      Date created: 10/25/2019
      Created by:   @dbybanez
      Last updated: --/--/----
      Updated by:   @dbybanez
*
*/
